<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">

<th:block layout:fragment="addCommonScript">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c353cbff16c035545fd3661e0c9019ed"></script>
</th:block>

<section layout:fragment="content">
    <h1 th:text="${pageTitle}"></h1>
    <div id="map"></div>
    <!-- 카테고리 필터 -->
    <form id="categoryForm" style="margin-bottom:20px;">
        <div>
            <select name="category" id="category">
                <option th:each="c : ${category}" th:value="${c}" th:text="${c}"></option>
            </select>
        </div>
        <button type="button" onclick="filterRestaurants()">검색</button>
    </form>

     <!-- 식당 목록 -->
     <div id="restaurantList" style="margin-top:20px;">
         <h3>식당 목록</h3>
         <ul id="list" style="max-height:300px; overflow-y:auto; border:1px solid #ccc; padding:10px;"></ul>
     </div>
    <script type="application/json" th:utext="${json}"></script>
</section>
</html>