@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
*{
    box-sizing : border-box;
    outline : none;
    font-family: "Nanum Gothic", sans-serif;
}

html{
    font-size:13px;
}

body{
    margin:0;
    color:#333;
}

a{
    color:#333;
    text-decoration:none;
    :visited{
        color:#333;
        text-decoration:none;
    }
}

ou,ul{
    list-style:none;
    margin:0;
    padding:0;
}

li,dl,dt,dd{
    margin:0;
    padding:0;
}
img{
    border:0;
}

header{
    height:80px;
    background-color:#eee;
    border-bottom:3px solid #000;
    font-height:80px
}

main {
    display: flex;
}

main>aside{
    width:200px;
    background-color:#d5d5d5;
    min-height: 850px;
    margin-right:30px;
}

main>#main-content{
    flex-glow: 1;
}

main > aside a{
    display:block;
    padding:25px 10px;
    text-align:center;
    font-size:1.5rem;
    font-weight:800;
    border-bottom:1px solid #333;
}
main > aside a.on{
    background:#212121;
    color:#fff;
}

main > .main-content {Add commentMore actions
    padding-right: 25px;
}

main > .main-content > nav{
    box-shadow:2px 2px 10px #212121;
    margin:30px;
    display:flex;
    height:50px;
    background:#fff;
    border-radius:5px;
}
main > .main-content > nav a{
    line-height:50px;
    font-size:1.3rem;
    padding:0 35px;
}
main > .main-content > nav a.on{
    background:#212121;
    color:#fff;
}

/* 공통 입력 항목 S */
 input[type='text'],
 input[type='number'],
 input[type='password'],
 input[type='email'],
 input[type='date'],
 select {
     border: 1px solid #f8f8f8;
     height: 40px;
     padding: 0 10px;
     border-radius: 3px;
     width: 100%;
 }

 select {
     padding: 0;
 }

 textarea {
     border: 1px solid #f8f8f8;
     min-height: 150px;
     padding: 10px;
     border-radius: 3px;
     resize: none;
     width: 100%;
 }


